@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900&display=swap");
* {
  box-sizing: border-box;
  /* border: 1px solid green; */
  font-family: "Poppins";
}

.section {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.section-title {
  color: #007bff;
}

.skills {
  flex: 1;
}

.skills-category {
  font-weight: 500;
  margin-bottom: 0;
}

.skills-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-weight: 300;
  font-size: 14px;
}

.skills-list > li {
  margin: 2px 0;
}

.external-link {
  color: black;
  text-decoration: none;
}

.project-title {
  font-weight: 500;
  margin-bottom: 10px;
}

.project-title > span {
  color: #007bff;
}

.project-title:hover > span {
  position: relative;
  left: 8px;
}

.project-desc {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
}

.project-tags {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 35px;
}

.project-tags > li {
  color: #007bff;
  border: 1px solid #007bff;
  padding: 2px 8px;
  font-size: 12px;
  border-radius: 5px;
}

#footer {
  font-weight: 500;
}

#footer > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  letter-spacing: 1.2px;
}

#footer > ul > li > a {
  color: #007bff;
}

/* small devices */
@media (max-width: 767px) {
  .section-content {
    display: flex;
    flex-wrap: wrap;
  }

  .skills {
    gap: 20px;
    padding: 10px;
  }

  #footer {
    text-align: center;
  }

  #footer > ul:nth-child(2) {
    display: none;
  }
}

/* medium and above device */
@media (min-width: 768px) {
  .section {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
  }

  .section-title {
    text-align: right;
    width: 20%;
  }

  .section-content {
    width: 80%;
    display: flex;
  }

  #other-projects > .section-content {
    display: block;
  }

  #footer > ul:last-child {
    display: none;
  }
}
